$mainRed: #b10101;
$mainBlueGradien : repeating-linear-gradient(to bottom,rgba(60, 97, 145, 0.26) 0%,rgba(32, 55, 87, 0.26) 100%) #203757;
$mainBlue: #3c6191;
$mainGray: #f2f2f2;
$mainBlack: #0a0a0a;
$footerBlue: #0f2036;
$titleColor: #203757;